#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 1600px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 693px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 135px;
  background-color: #1E824C;
  background-image: none;
  opacity: 0.34;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  position: absolute;
  top: 23px;
  left: 976px;
  width: 209px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  top: 59px;
  left: 960px;
  width: 213px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  position: absolute;
  top: 134px;
  left: 0px;
  width: 1280px;
  height: 82px;
  background-color: #1E824C;
  background-image: none;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_37 {
  position: absolute;
  top: 174px;
  left: 314px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_38 {
  position: absolute;
  top: 176px;
  left: 453px;
  width: 140px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_38 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_39 {
  position: absolute;
  top: 175px;
  left: 621px;
  width: 140px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_40 {
  position: absolute;
  top: 175px;
  left: 821px;
  width: 140px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_40 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  position: absolute;
  top: 693px;
  left: 0px;
  width: 1276px;
  height: 766px;
  background-color: #EAEEC8;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 {
  position: absolute;
  top: 81px;
  left: 72px;
  width: 257px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 42px;
  font-size: 22.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  position: absolute;
  top: 767px;
  left: 472px;
  width: 289px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.5pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  position: absolute;
  top: 854px;
  left: 0px;
  width: 422px;
  height: 305px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  position: absolute;
  top: 854px;
  left: 421px;
  width: 419px;
  height: 305px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
  position: absolute;
  top: 854px;
  left: 839px;
  width: 441px;
  height: 305px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_6 {
  position: absolute;
  top: 1158px;
  left: 0px;
  width: 422px;
  height: 305px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
  position: absolute;
  top: 1158px;
  left: 420px;
  width: 422px;
  height: 305px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
  position: absolute;
  top: 1158px;
  left: 841px;
  width: 439px;
  height: 305px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  top: 25px;
  left: 155px;
  width: 92px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
  position: absolute;
  top: 1463px;
  left: 0px;
  width: 1276px;
  height: 133px;
  background-color: #EAEEC8;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_118 > svg {
  width: 40px;
  height: 31px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_118 {
  position: absolute;
  top: 23px;
  left: 994px;
  width: 40px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  position: absolute;
  top: 1534px;
  left: 416px;
  width: 448px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_189 > svg {
  width: 48px;
  height: 40px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_189 {
  position: absolute;
  top: 1495px;
  left: 592px;
  width: 48px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_134 > svg {
  width: 51px;
  height: 34px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_134 {
  position: absolute;
  top: 1498px;
  left: 657px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}